/*Global configs =================================*/
body, *, .app {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    background: var(--backgroudn);
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root {
    --backgroudn: #000;
    --text-color: #FFF;
    --button: #8257e5;
    --border: #29292e;
    --border-menu-mobile: #a8a8b3;
    --text-color-menu-mobile: #e1e1e6;
}

.app {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul,li,a {
    text-decoration: none;
    list-style: none;
}

/*Header content configs =================================*/
#header {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 5rem;
}

.navigator {
    width: 80%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.box-lists {
    margin-left: 5rem;
    display: flex;
    flex-direction: row;
}

.hyperlink-nav {
    font-size: 14px;
    margin: 0 1rem;
}

.hyperlink-getcoffee {
    margin-right: -3rem;
    border: 1px solid var(--button);
    border-radius: 0.30rem;
    padding: 0.8rem 2.7rem;
}

.hyperlink-getcoffee a{
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.a-nav {
    color: var(--text-color);
    font-weight: normal;
    font: 400;
}

.blur-1 {
    width: 100%;
    position: absolute;
    z-index: -999;
}
/*Container content configs =================================*/

.container, .content {
    width: 100%;
    height: 100%;
    display: grid;
}

.texts-logo h1{ 
    text-align: center;
    font-weight: bold;
    font-size: 80px;
    color: var(--text-color);

    margin-bottom: 1.1rem;
}

.text-logo-shadow, .text-logo-shadow code {
    color: #000;
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}



.img-logo {
    margin: 0 auto;
}

.blur-2 {
    margin-top: 3rem;
    z-index: -1;
    position: absolute;
}
